{% import_yaml "postgresql/defaults.yaml" as defaults %}
{% set postgresql = salt['pillar.get']('postgresql', default=defaults.postgresql, merge=True) %}
{% if not postgresql %}
{{ salt.test.exception("postgresql pillar data missing") }}
{% endif %}
