{% from "postgresql/map.jinja" import postgresql with context %}
{%- set pg_major = postgresql.version.split('+')[0] %}
data_directory = '/var/lib/postgresql/{{ pg_major }}/main'
hba_file = '/etc/postgresql/{{ pg_major }}/main/pg_hba.conf'
ident_file = '/etc/postgresql/{{ pg_major }}/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/{{ pg_major }}-main.pid'
stats_temp_directory = '/var/run/postgresql/{{ pg_major }}-main.pg_stat_tmp'
{% for key, value in postgresql.server.config.items() %}
{% if value is number %}
{{ key }} = {{ value }}
{% else %}
{{ key }} = '{{ value }}'
{% endif %}
{% endfor %}

